body {
  margin: 0;
  background-color: #eff1f4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@font-face {
  font-family: 'Righteous';
  src: local('Righteous'),
    url(../assets/Righteous-Regular.ttf) format('truetype');
}

.logo {
  font-family: 'Righteous';
  font-size: 25px;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 48%,
    rgba(33, 0, 255, 1) 76%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Home*/

.filternavbar {
  background-color: white;
  padding: 10px;
  padding-top: 80px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/*Product Page*/

.productlist {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  margin: 3%;
  background-color: white;
  width: 28vw;
  height: 27vw;
  border-radius: 2px;
  box-shadow: 0.3px 0.3px 2px #9da3a4;
}

.product img {
  height: 16vw;
  margin: 5px auto;
}

.product span {
  margin-left: 10px;
}

#product-name {
  font-size: 1.4vw;
}

.product h4 {
  font-size: 1vw;
  margin: 0;
  margin-left: 10px;
  padding: 1px 4px;
  border-radius: 3px;
  background-color: #388e3c;
  color: white;
}
.product h2 {
  font-size: 1.4vw;
  margin: 0;
  margin-left: 10px;
}

/*Product Details Page*/
.productdetails {
  margin-top: 70px;
}

/*Login Page*/

.loginformbackground {
  background-color: #e84855;
  height: 100vh;
  display: flex;
}

.loginformbackground form {
  padding: 5px 0;
  margin: auto;
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 3px;
}
.loginformbackground h2 {
  margin: 0;
}

.lighttext {
  color: #839d9a;
}

/*ShoppingCart*/

.cartandprices {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cart {
}

.prices {
}
